.task-image {
    width: 150px;
    height: 150px;
    img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: contain;
        transition: transform .2s;
        &:hover {
            -ms-transform: scale(2);
            /* IE 9 */
            -webkit-transform: scale(2);
            /* Safari 3-8 */
            transform: scale(2);
        }
    }
}
